*{
    font-family: 'Jua', sans-serif;
}

body{
    background-color: #333;
}
#jumbotron{
    margin-top: 30px;
    text-align: center;
    background-color: white;
}

#review-button{
    width: 100%;
}